.input-data {
  margin: 20px 0;
}
.square {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  background-color: #95dada;
  border: none;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.square:hover {
  transform: scale(1.05);
}
